<div class="bgEfef">

    <div class="container1450">
      <p class="breadcrms">Home / Contact Us</p>
      <div class="row py-5">
        <div class="col-md-12 mx-auto">

<div class="checkbilling-customer">
    <div class="container billing_cus">
        <div class="row">
            <div class="col-8" style="padding-bottom:50px;margin:0 auto;">
               
                    <div class="row">
                        <p class="center-align">There are many wauys to reach us so we can help you in a way that is convenient for you <br/>
                                We're here to help you throuhg calls, emails, and eand even scheduled meeetings.
                        </p>
                   
            </div>
           
        </div>
</div>
</div>

</div>
           
</div>
</div>



<div class="container-contacts">
    <div class="container">
      <div class="getin">
        <h1>Get in Touch with Us</h1>
      </div>
      <div class="row">
        <div class="col">
          <div class="imgdiv2 float-left">
            <img src="/assets/images/icon/icon-hq.png">
          </div>
          <div class="spieldiv ">
            <h5>Corporate Headquarters</h5>
            <p>PLDT Enterprise <br>
              8/F Makati General Office <br>
              Dela Rosa St., Makati City, Philippines</p>
          </div>
        </div>
        <div class="col">
          <div class="imgdiv2 float-left">
            <img src="/assets/images/icon/icon-phone.png">
          </div>
          <div class="spieldiv ">
            <h5>Using Smart or TNT</h5>
            <p>Call *177</p>
          </div>
        </div>
        <div class="col">
          <div class="imgdiv2 float-left">
            <img src="/assets/images/icon/icon-landline.png">
          </div>
          <div class="spieldiv ">
            <h5>Using PLDT landline</h5>
            <p>Call 177</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col offset-2">
          <div class="imgdiv2 float-left">
            <img src="/assets/images/icon/icon-email.png">
          </div>
          <div class="spieldiv ">
            <h5>Email Us</h5>
            <p><a href="https://pldtenterprise@pldt.com.ph">pldtenterprise@pldt.com.ph</a></p>
          </div>
        </div>
        <div class="col">
          <div class="imgdiv2 float-left">
            <img src="/assets/images/icon/icon-chat.png">
          </div>
          <div class="spieldiv ">
            <h5>Chat with Us</h5>
          </div>
        </div>
      </div>
  
    </div>
  </div>

</div>