<div class="bgEfef">

    <div class="container1450">
      <p class="breadcrms">Home / Report a problem / Track repair status</p>
      <div class="row py-5">
        <div class="col-md-12 mx-auto">

<div class="checkbilling-customer">
    <div class="container billing_cus">
        <div class="row">
            <div class="col-8" style="padding-bottom:50px;margin:0 auto;">
                <form id="formSubmit"  [formGroup]="repairService"  (ngSubmit)="onSubmit(repairService.value)">
                    <div class="row holder-row">
                        <p class="center-align">Please provide your Repair Ticket Number to check your application status</p>
                    <div class="col-8"> 
                      <label for="accountnumber" class="col-form-label">Repair Ticket number<span class="spanred">*</span></label>
                    <input type="text" class="form-control" required></div>
                    <div class="col-4">
                        <label for="accountnumber" class="col-form-label">&nbsp;</label>
                      <button [disabled]="checkbillingService.invalid" type="button" class="btn btn-primary main-red">Check</button></div>
                    </div>
             
      
              </form>
              
            </div>
           
        </div>
</div>
</div>

</div>
           
</div>
</div>
</div>

<div class="related-customer">
    <div class="container related_cus">
        <div class="row">
            <div class="col-3" style="padding:0px;"><img src="/assets/images/report_a_trouble1.jpg" style="width:100%;"></div>
            <div class="col-9" style="padding:15px;"><h4>Related Customer Care Services</h4>
            <ul>
              <li><a href="#">View your Bill</a></li>
              <li><a href="#">Manage account and payments</a></li>
              <li><a href="#">Log after sales concern</a></li>
              <li><a href="#">Report a Problem</a></li>
              <li><a href="#">Upgrade existing Service</a></li>
            </ul>
            </div>
           
        </div>
</div>
</div>


<div class="container-contacts">
    <div class="container">
      <div class="getin">
        <h1>Get in Touch with Us</h1>
      </div>
      <div class="row">
        <div class="col">
          <div class="imgdiv2 float-left">
            <img src="/assets/images/icon/icon-hq.png">
          </div>
          <div class="spieldiv ">
            <h5>Corporate Headquarters</h5>
            <p>PLDT Enterprise <br>
              8/F Makati General Office <br>
              Dela Rosa St., Makati City, Philippines</p>
          </div>
        </div>
        <div class="col">
          <div class="imgdiv2 float-left">
            <img src="/assets/images/icon/icon-phone.png">
          </div>
          <div class="spieldiv ">
            <h5>Using Smart or TNT</h5>
            <p>Call *177</p>
          </div>
        </div>
        <div class="col">
          <div class="imgdiv2 float-left">
            <img src="/assets/images/icon/icon-landline.png">
          </div>
          <div class="spieldiv ">
            <h5>Using PLDT landline</h5>
            <p>Call 177</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col offset-2">
          <div class="imgdiv2 float-left">
            <img src="/assets/images/icon/icon-email.png">
          </div>
          <div class="spieldiv ">
            <h5>Email Us</h5>
            <p><a href="https://pldtenterprise@pldt.com.ph">pldtenterprise@pldt.com.ph</a></p>
          </div>
        </div>
        <div class="col">
          <div class="imgdiv2 float-left">
            <img src="/assets/images/icon/icon-chat.png">
          </div>
          <div class="spieldiv ">
            <h5>Chat with Us</h5>
          </div>
        </div>
      </div>
  
    </div>
  </div>